body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:  #fff;
    color: #fff;
}

.app-layout {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.sidebar {
    width: 240px;
    background-color: #070606;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-logo {
    text-align: center;
    padding: 1px;
  }
  
.sidebar-logo img {
    height: 20px; /* adjust the height of the logo */
    width: auto;
    }
.sidebar h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.nav-link {
    color: #e0f2f1;
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 8px;
}

.nav-link i {
    margin-right: 12px;
    font-size: 20px;
}

.nav-link:hover {
    color: #e0f2f1;
    background-color: #4a5568;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar {
    height: 50px;
    background-color:  #070606;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
}

.top-bar .help {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #ccc;
    cursor: pointer;
}

.top-bar .user {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 3px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user {
    background-color: #6b4c4c;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.user-modal {
    position: absolute;
    right: 5px;
    top: 55px;
    background-color:   #000;
    color: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: column;

    z-index: 1000;
    width: 220px;
}

.user-modal.show {
    display: flex;
}

.user-modal div {
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-modal div:hover {
    background-color: #4a5568;
}


.main-content {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
   
}

.add-db-button {
    margin: 20px 0;
    align-self: flex-start;
    background: linear-gradient(145deg, rgba(48, 47, 47, 0.9), rgba(10, 10, 10, 0.9));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
  }
.add-db-button::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, transparent 100%);
  border-radius: 16px 16px 0 0;
  pointer-events: none;
}
.add-db-button:hover {
    background-color:  #4596e7;
  }

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: linear-gradient(145deg, rgba(30, 30, 30, 0.9), rgba(10, 10, 10, 0.9));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.4),
        inset 0 2px 4px rgba(255, 255, 255, 0.05),
        inset 0 -2px 4px rgba(0, 0, 0, 0.3);
   
    padding: 24px;
    border-radius: 16px;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, transparent 100%);
    border-radius: 16px 16px 0 0;
    pointer-events: none;
}

.card:hover {
    box-shadow: 
        0 12px 40px rgba(126, 124, 124, 0.5),
        inset 0 2px 4px rgba(243, 242, 242, 0.08),
        inset 0 -2px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;
}

.card .label {
    background-color: #4a5568;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.card small {
    font-size: 12px;
    color: #cceee8;
}

.card img {
    width: 12px;
    height: 10px;
    object-fit: contain;
  }

.card .buttons {
    margin-top: 16px;
}

.card button {
    background-color: #282d36;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.card button:hover {
    background-color: #4a5568;
}


#add-database-section {
    background: linear-gradient(145deg, rgba(30, 30, 30, 0.9), rgba(10, 10, 10, 0.9));
    padding: 30px;
    border-radius: 12px;
    position: relative;
    top: 100px; /* Move the div down by 150px */
    margin-left: 200px;
    margin-right: 200px;
    border: 0.5px solid #ddd;
  }

.add-database-section::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, transparent 100%);
    border-radius: 16px 16px 0 0;
    pointer-events: none;
  }

.progress-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.progress-bar .dot {
    width: 10px;
    height: 10px;
    background-color: #213d5a;
    border-radius: 50%;
}
.progress-bar .dot.active {
    background-color: #ffffff;
}

.db-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 16px;
    margin-bottom: 30px;
}

.db-tile {
    background-color: rgba(255,255,255,0.05);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
    font-weight: 500;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }

.db-tile {
    cursor: pointer; /* Add cursor pointer to indicate clickability */
  }

.db-tile.selected {
    background-color:  #4a5568; /* Change background color to indicate selection */
    color: #fff; /* Change text color to improve readability */
  }
.db-tile:hover {
    background-color:  #4a5568;
  }

.db-tile i {
    font-size: 1em; /* inherit from parent */
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
.db-tile img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

.continue-btn,
.exit-btn {
  background-color: #4a5568;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.btn-connected {
    background-color: #dc3545; /* Red */
    color: white;
  }
  
  .btn-disconnected {
    background-color: #28a745; /* Green */
    color: white;
  }

.continue-btn:hover,
.exit-btn:hover {
  background-color: #20242b;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


#deleteConfirmationModal {
    display: none;
  }

.edit-icon {
    position: relative;
    margin-left: 300px;
}

.delete-icon {
    position: relative;
    margin-left: 300px;
    margin-top: -25px;
}

.delete-icon:hover {
    color: #bd2130;
  }

.get-secret-label {
    text-decoration: none;
  }
  
.get-secret-label:hover {
    text-decoration: underline;
  }

/* Delete Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    color: #000;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.close-screte-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}  


/* #add-database-connection-section {
    background-color: #006655;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    top: 150px;  Move the div down by 150px 
    margin-left: 200px;
    margin-right: 200px;
  }

.form input{
    height: 80px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.form label{
    size: 20px;
} */